<section class="container-unidad contenidos" *ngIf="unidad">
  <article *ngIf="tipo == 1 || (tipo == 0 && selection == 'contenidos')">
    <div *ngIf="tipo == 1">
      <h4 class="font-weight-bold w-100 mt-4">
        Aquí encontraras videos, lecturas, podcasts, entre otros elementos auxiliares a la unidad
        {{unidad.indice}}.
        {{unidad.titulo}}. De click en el título de cada sección para visualizar el contenido.
      </h4>
      <div class="btn-group btn-group-lg btn-group-toggle w-100" data-toggle="buttons">
        <label
          [classList]="rsrcsCategory === 'video' ? 'btn btn-outline-info label-no-margin active':'btn btn-outline-info label-no-margin'"><input
            type="radio" class="btn-check" name="rsrcsCategory" id="video" autocomplete="off" [value]="'video'"
            [(ngModel)]="rsrcsCategory" />Videos</label>
        <label
          [classList]="rsrcsCategory === 'reading' ? 'btn btn-outline-info label-no-margin active':'btn btn-outline-info label-no-margin'"><input
            type="radio" class="btn-check" name="rsrcsCategory" id="reading" autocomplete="off" [value]="'reading'"
            [(ngModel)]="rsrcsCategory" />Lecturas</label>
        <label
          [classList]="rsrcsCategory === 'podcast' ? 'btn btn-outline-info label-no-margin active':'btn btn-outline-info label-no-margin'"><input
            type="radio" class="btn-check" name="rsrcsCategory" id="podcast" autocomplete="off" [value]="'podcast'"
            [(ngModel)]="rsrcsCategory" />Podcasts</label>
      </div>
    </div>
    <h4 *ngIf="tipo == 0" class="font-weight-bold w-100 mt-4 mb-0">
      De click en el título de cada sección para visualizar el contenido.
    </h4>
    <div class="card"
      *ngFor="let item of tipo == 0 ? unidad.contenido : unidad.recurso.length > 1 ? unidad.recurso.slice(0, -1).filter(rscCategortyFilter) : unidad.recurso;let idx = index">
      <div class="justify-content-center">
        <div class="card-header" data-toggle="collapse" [attr.data-target]="'#seccion' + idx" aria-expanded="true"
          [attr.aria-controls]="'seccion' + idx">
          <h3 class="card-title">
            {{item.seccion}} {{item.titulo}}
          </h3>
          <div *ngIf="tipo == 0">
            <span>Palabras clave: </span>
            <span *ngFor="let kw of item.keywords;let isLast = last;">
              {{kw}}<span *ngIf="!isLast">,</span>
            </span>
          </div>
          <div *ngIf="tipo == 1">
            <span>{{item.descripcionRecurso}}</span>
          </div>
        </div>
        <div [id]="'seccion' + idx" class="collapsing">
          <div [innerHTML]="item.unidad | sanitizedHtml" class="card-body center-content" *ngIf="tipo == 0">
          </div>
          <div [innerHTML]="item.recurso | sanitizedHtml"
            class="card-body justify-content-center embed-responsive embed-responsive-16by9"
            *ngIf="tipo == 1 && item.category !== 'reading'">
          </div>
          <div [innerHTML]="item.recurso | sanitizedHtml"
            class="card-body justify-content-center embed-responsive embed-responsive-1by1"
            *ngIf="tipo == 1 && item.category === 'reading'">
          </div>
        </div>
      </div>
    </div>
  </article>
  <article *ngIf="tipo == 0 && selection == 'actividades'">
    <h4 class="font-weight-bold w-100 mt-4 mb-0" *ngIf="unidad.activities">
      De click en el título de la actividad para visualizar el contenido.
    </h4>
    <h3 class="text-center mt-4" *ngIf=" !unidad.activities">
      Sección sin información.
    </h3>
    <div class="card" *ngFor="let activity of unidad.activities;let idx = index">
      <div class="justify-content-center">
        <div>
          <div class="card-header" data-toggle="collapse" [attr.data-target]="'#seccion' + idx" aria-expanded="true"
            [attr.aria-controls]="'seccion' + idx">
            <h3 class="card-title">
              {{activity.section}} {{activity.title}}
            </h3>
          </div>
          <div [id]="'seccion' + idx" class="collapsing">
            <div *ngIf="activity.embed" [innerHTML]="activity.embed | sanitizedHtml"
              class="card-body justify-content-center embed-responsive embed-responsive-1by1"></div>
            <div *ngIf="activity.description" [innerHTML]="activity.description | sanitizedHtml"
              class="card-body justify-content-center"></div>
          </div>
        </div>
      </div>
    </div>
  </article>
  <article *ngIf="tipo == 0 && selection == 'evaluacion'">
    <div [innerHTML]="unidad.evaluacion | sanitizedHtml"></div>
  </article>
  <article *ngIf="tipo == 0 && selection == 'autoevaluacion'">
    <div [innerHTML]="unidad.autoevaluacion | sanitizedHtml"></div>
  </article>
  <article *ngIf="tipo == 0 && selection == 'coevaluacion'">
    <div [innerHTML]="unidad.coevaluacion | sanitizedHtml"></div>
  </article>
  <article *ngIf="tipo == 0 && selection == 'presentacion'">
    <h4 class="font-weight-bold w-100 mt-4 mb-0" *ngIf="unidad.activities">
      De click en el título de la presentación para visualizar su contenido.
    </h4>
    <div class="card">
      <div [class]="'data-complete'">
        <div>
          <div class="card-header" data-toggle="collapse" [attr.data-target]="'#seccion' + 0" aria-expanded="true"
            [attr.aria-controls]="'seccion' + 0">
            <h3>
              {{unidad.recurso[unidad.recurso.length - 1].titulo}}
            </h3>
            <span>{{unidad.recurso[unidad.recurso.length - 1].descripcionRecurso}}</span>
          </div>
          <div [id]="'seccion' + 0" class="collapsing">
            <div [innerHTML]="unidad.recurso[unidad.recurso.length - 1].recurso | sanitizedHtml"
              class="embed-responsive embed-responsive-16by9">
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>