<section class="act-h">
  <div class="aux-h">
    <h2>Unidad {{id}}. {{unidad.titulo}}<br>Evaluación de los aprendizajes</h2>
    <p>
      Aquí encontraras una pequeña evaluación de los conocimientos adquiridos en la unidad {{id}}. {{unidad.titulo}}
    </p>
  </div>
  <div class="img-full-cover" [ngStyle]="{'background-image': 'url(https://www.conamat.com/hubfs/Sin-ti%CC%81tulo-5.png)'}"></div>
</section>

<div class="container py-5 my-5">
  <div *ngIf="test.length == 0; else testBool">
    <h3 class="text-center">No hay prueba de autoevaluación disponible</h3>
  </div>
  <ng-template #testBool>
    <form  #qForm="ngForm" (ngSubmit)="onSubmit(qForm)">
      <div class="preguntas">
        <div *ngFor="let item of test; let idx=index" class="card m-4 mt-2">
          <h3 class="card-header">{{idx+1}}. {{item.pregunta}}</h3>
          <div class="radios-div card-body text-center">
            <small *ngIf="res[idx] == -1" class="invalid-feedback d-block">
              Selecciona tu respuesta
            </small>
            <div *ngFor="let opt of item.opciones; let idOpt = index" class="form-check form-check-inline px-3">
              <input class="form-check-input" type="radio" [name]="'pregunta'+idx" [id]="'ir'+idx" [value]="idOpt" [(ngModel)]="res[idx]" required pattern="^\d*">
              <label class="form-check-label">{{opt}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100 text-center">
        <button type="submit" class="btn btn-lg btn-outline-success w-25 mt-5" [disabled]="qForm.invalid" data-toggle="modal" [attr.data-target]="'#tusres'+id">Ver resultados</button>
      </div>
    </form>
  </ng-template>
</div>

<div class="modal fade" [id]="'tusres'+id">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h2 class="modal-title">Tus resultados</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container res-div">
          <h4>Calificación: {{note}}/10</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Reactivo</th>
                <th>Tu respuesta</th>
                <th>Respuesta correcta</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of test; let idx=index" [id]="'columna'+(idx+1)" [ngClass] = "item.res == res[idx] ? 'good-answer' : 'wrong-answer'">
                <th scope="row">{{idx+1}}</th>
                <td>{{item.pregunta}}</td>
                <td><span [id]="'respuesta'+(idx+1)">{{item.opciones[res[idx]]}}</span></td>
                <td><label [id]="'correcta'+(idx+1)">{{item.opciones[item.res]}}</label></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


