<section class="container-fluid mt-3">
  <div class="row">
    <div class="col-12 col-md-6 p-0 order-2 order-md-1 img-cover"
      [ngStyle]="{'background-image': 'url('.concat(unidad.imagen).concat(')')}">
    </div>
    <div class="col-12 col-md-6 p-4 order-1 order-md-2 bg-tertiary text-white">
      <h2>Unidad {{id}}. {{unidad.titulo}}</h2>
      <h3 style="margin: 0;">Material adicional</h3>
      <p>
        Aquí encontraras PDFs, enlaces a códigos, videos, entre otros elementos auxiliares a la unidad {{id}}.
        {{unidad.titulo}}
      </p>
    </div>
  </div>
</section>
<section class="mx-3">
  <app-unidad *ngIf="unidad" [unidad]="unidad" [tipo]="1"></app-unidad>
</section>