<section class="recursos-h">
  <div class="img-full-cover" [ngStyle]="{'background-image': 'url(https://static.wixstatic.com/media/5e36dd_129b7ca4a0c74d2b935ec9684cf14854~mv2.png/v1/fill/w_560,h_312,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/c011%20indicadores%20de%20gestion.png)'}"></div>
  <div class="aux-r">
    <h2>Unidad {{id}}. {{unidad.titulo}}</h2>
    <h3 style="margin: 0;">Recursos Didácticos</h3>
    <p>
      Aquí encontraras PDFs, enlaces a códigos, videos, entre otros elementos auxiliares a la unidad {{id}}. {{unidad.titulo}}
    </p>
  </div>
</section>

<app-unidad *ngIf="unidad" [unidad]="unidad" [tipo]="1"></app-unidad>
