.portrait {
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 25%;
}

.qr-code {
  height: 200px;
  width: 200px;
}

.anchor {
  scroll-margin-top: 108px;
}

.src {
  text-shadow: 2px 2px 2px black;
  font-size: 1.25rem;
}

@media (max-width: 767.98px) {
  .anchor {
    scroll-margin-top: 542px;
  }
}

@media (max-width: 991.98px) {
  .anchor {
    scroll-margin-top: 568px;
  }
}
