<div id="bienvenida"></div>

<section class="section-welcome">
  <div class="container container-welcome">
    <h2 class="text-center">Bienvenida</h2>
    <div style="display: flex; flex-direction: column; align-items: center;">
      <p>
        Estimados y estimadas estudiantes, se les extiende la más cordial bienvenida a este espacio, donde podrán encontrar información relevante a la unidad de aprendizaje conocida como Gestión Empresarial correspondiente al plan de estudios 2020.
      </p>
      <div id="metodologia"></div>
      <p>
        Podrán consultar los contenidos de cada unidad en sus respectivas secciones en la barra de navegación que se encuentra en la parte superior. Haga scroll hacia abajo para ver los puntos clave que conforman esta unidad de aprendizaje.
      </p>
    </div>
  </div>
  
</section>
<section >
  <div class="grid-meto">
    <div class="aux-reque">
      <h2>Metodología</h2>
      <p>Se abordará a partir de la estrategia de aprendizaje orientada a proyectos y método deductivo e inductivo, lo cual permitirá la utilización de las siguientes técnicas de aprendizaje:</p>
      <ul>
        <li><a target="_blank" href="http://www.scielo.org.bo/scielo.php?script=sci_arttext&pid=S0040-29151993000100008" style="color: blue;"><u>Indagación documental</u></a></li>
        <li><a target="_blank" href="http://hadoc.azc.uam.mx/tecnicas/guiada.htm" style="color: blue;"><u>Discusión dirigida</u></a></li>
        <li><a target="_blank" href="https://www.itesca.edu.mx/documentos/desarrollo_academico/metodo_aprendizaje_colaborativo.pdf" style="color: blue;"><u>Trabajo colaborativo</u></a></li>
        <li><a target="_blank" href="http://www.scielo.org.co/pdf/entra/v12n1/v12n1a18.pdf" style="color: blue;"><u>Práctica de laboratorio</u></a></li>
        <li><a target="_blank" href="https://www.academia.edu/37824886/Exposicion_como_tecnica_didactica" style="color: blue;"><u>Exposición de temas complementarios en equipo</u></a></li>
        <li><a target="_blank" href="https://prezi.com/uicbxppqud3l/operaciones-del-pensamiento/" style="color: blue;"><u>Herramientas Considerar Variables (CV) y Considerar Objetivos o Propósitos (COP)</u></a></li>
      </ul>
      <div id="unidad"></div>
      <p>La unidad contribuye a la creación de un proyecto empresarial aplicando la gestión estratégica.</p>
    </div>
    <div class="img-metodologia"></div>
  </div>
</section>
<section class="unidad">
  <div class="container grid-au">
    <div class="aux-div">
      <h2>Unidad de competencia</h2>
      <p>Se busca que los estudiantes gestionen organizaciones de innovación tecnológica con base en competencias gerenciales.</p><br>

      <h2>Propósito de la unidad de aprendizaje</h2>
      <p>Gestiona organizaciones de innovación tecnológica con base en competencias gerenciales.</p><br>
      
      <h2>Intención educativa</h2>
      <div id="eval"></div>
      <p>La unidad de aprendizaje contribuye al perfil de egreso del ingeniero en sistemas computacionales desarrollando las competencias directivas de liderazgo, toma de decisiones bajo condiciones de riesgo e incertidumbre, manejo de grupos de trabajo, capacidad de negociación, manejo de conflictos, orientación al cambio y a la innovación permanente, para gestionar organizaciones con una actitud emprendedora, ética y de responsabilidad social.</p><br>
    </div>
  </div>
  
</section>
<section class="estrat">
  <div class="grid-meto">
    <div class="aux-reque">
      <h2>Evaluación</h2>
      <p>Se realizará una evalaución diagnóstica, y posteriormente se ensamblará un portafolio de evidencias, el cual consiste de los siguientes puntos con sus respectivos valores:</p>
      <ul>
        <li>Trabajo Colaborativo - 10%</li>
        <li>Exposición en equipo - 15%</li>
        <li>Considerar Variables y Considerar Objetivo o Propósito - 10%</li>
        <li>Rúbricas de autoevaluación y coevaluación - 5%</li>
        <li>Integración del proyecto - 15%</li>
        <li>Práctica 1 - 15%</li>
        <li>Evidencia de aprendizaje escrita - 30%</li>
      </ul>
    </div>
    <div class="img-eval"></div>
  </div>
</section>

<section class="container categories">
  <h2 class="text-center">Contactos: Ext. 52032</h2>
  <div class="list-cat">
    <div *ngFor="let item of responsables;let idx = index" class="category">
      <div class="prof-photo" [style]="'background-image: url('+item.photo+');'"></div>
      <!--  <img [src]="item.photo" alt="Imagen Cargada" /> -->
      <p>
        <b>{{item.name}}</b><br>{{item.mail}}<br>
        <button type="button" class="btn btn-link" data-toggle="modal" [attr.data-target]="'#prof'+idx">Más acerca del
          docente</button>
      </p>

      <div class="modal fade" [id]="'prof'+idx">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h2 class="modal-title">{{item.name}}</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <b>Desarrollo profesional:</b><br />
              <div [innerHtml]="item.info"></div>
              <br />
              <b>Áreas de interés:</b><br />
              <div [innerHtml]="item.intereses"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--<section class="reque">
  <div class="grid-reque">
    <div class="aux-reque">
      <h2>Requerimientos</h2>
      <p>
        Requerimos de tu compromiso como estudiante :)
      </p>
    </div>
    <div class="img-reque"></div>
  </div>
</section>-->

<main class="main-prod container">
</main>
