<section class="container-fluid mt-3">
  <article id="welcome" class="row justify-content-center pt-3 anchor">
    <div class="col-12 px-0">
      <h2 class="text-center">Bienvenida</h2>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item"
          src="https://www.youtube-nocookie.com/embed/HfG2zySCAw8?si=QCmEZVUb0DRsaqGG&amp;controls=1&autoplay=1"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen></iframe>
      </div>
    </div>
  </article>
  <article id="methodology" class="row anchor">
    <div class="col-12 col-md-6 p-4 bg-tertiary text-white">
      <h2>Metodología</h2>
      <p>Se abordará a partir de la estrategia de aprendizaje orientada a proyectos y método deductivo e inductivo,
        lo cual permitirá la utilización de las siguientes técnicas de aprendizaje:</p>
      <ul>
        <li><a class="text-white" target="_blank"
            href="http://www.scielo.org.bo/scielo.php?script=sci_arttext&pid=S0040-29151993000100008"><u>Indagación
              documental</u></a></li>
        <li><a class="text-white" target="_blank" href="http://hadoc.azc.uam.mx/tecnicas/guiada.htm"><u>Discusión
              dirigida</u></a></li>
        <li><a class="text-white" target="_blank"
            href="https://www.itesca.edu.mx/documentos/desarrollo_academico/metodo_aprendizaje_colaborativo.pdf"><u>
              Trabajo colaborativo</u></a></li>
        <li><a class="text-white" target="_blank"
            href="http://www.scielo.org.co/pdf/entra/v12n1/v12n1a18.pdf"><u>Práctica de
              laboratorio</u></a></li>
        <li><a class="text-white" target="_blank"
            href="https://www.academia.edu/37824886/Exposicion_como_tecnica_didactica"><u>Exposición
              de temas complementarios en equipo</u></a></li>
        <li><a class="text-white" target="_blank"
            href="https://prezi.com/uicbxppqud3l/operaciones-del-pensamiento/"><u>Herramientas
              Considerar Variables (CV) y Considerar Objetivos o Propósitos (COP)</u></a></li>
      </ul>
      <p>La unidad contribuye a la creación de un proyecto empresarial aplicando la gestión estratégica.</p>
    </div>
    <div class="col-12 col-md-6 p-0 img-cover d-flex align-items-end"
      style="background-image: url(assets/img/method.jpg);">
      <div class="src text-white text-wrap m-4" data-toggle="collapse" data-target="#methodologyCollapse"
        aria-expanded="false" aria-controls="methodologyCollapse"><a class="text-reset">Fuente</a><span class="collapse"
          id="methodologyCollapse">:
          https://www.pexels.com/es-es/foto/mujer-cafe-relajacion-ordenador-portatil-4050291/</span>
      </div>
    </div>
  </article>
  <article id="unit" class="row anchor">
    <div class="col-12 col-md-6 p-0 order-2 order-md-1 img-cover d-flex align-items-end"
      style="background-image: url(assets/img/goals.jpg);">
      <div class="src text-white text-wrap m-4" data-toggle="collapse" data-target="#unitCollapse" aria-expanded="false"
        aria-controls="unitCollapse"><a class="text-reset">Fuente</a><span class="collapse" id="unitCollapse">:
          https://www.pexels.com/es-es/foto/mujer-sentada-libro-de-lectura-en-biblioteca-2065490/</span>
      </div>
    </div>
    <div class="col-12 col-md-6 p-4 order-1 order-md-2 bg-tertiary text-white">
      <h2>Unidad de competencia</h2>
      <p>Se busca que los estudiantes gestionen organizaciones de innovación tecnológica con base en competencias
        gerenciales.</p><br>
      <h2>Propósito de la unidad de aprendizaje</h2>
      <p>Gestiona organizaciones de innovación tecnológica con base en competencias gerenciales.</p><br>
      <h2>Intención educativa</h2>
      <p>La unidad de aprendizaje contribuye al perfil de egreso del ingeniero en sistemas computacionales desarrollando
        las competencias directivas de liderazgo, toma de decisiones bajo condiciones de riesgo e incertidumbre, manejo
        de grupos de trabajo, capacidad de negociación, manejo de conflictos, orientación al cambio y a la innovación
        permanente, para gestionar organizaciones con una actitud emprendedora, ética y de responsabilidad social.</p>
    </div>
  </article>
  <article id="eval" class="row anchor">
    <div class="col-12 col-md-6 p-4 bg-tertiary text-white">
      <h2>Evaluación</h2>
      <p>Se realizará una evaluación diagnóstica, y posteriormente se ensamblará un portafolio de evidencias, el cual
        consiste de los siguientes puntos con sus respectivos valores:</p>
      <ul>
        <li>Trabajo Colaborativo - 10%</li>
        <li>Exposición en equipo - 15%</li>
        <li>Considerar Variables y Considerar Objetivo o Propósito - 10%</li>
        <li>Rúbricas de autoevaluación y coevaluación - 5%</li>
        <li>Integración del proyecto - 15%</li>
        <li>Práctica 1 - 15%</li>
        <li>Evidencia de aprendizaje escrita - 30%</li>
      </ul>
    </div>
    <div class="col-12 col-md-6 p-0 img-cover d-flex align-items-end"
      style="background-image: url(assets/img/grading.jpg);">
      <div class="src text-white text-wrap m-4" data-toggle="collapse" data-target="#evalCollapse" aria-expanded="false"
        aria-controls="evalCollapse"><a class="text-reset">Fuente</a><span class="collapse" id="evalCollapse">:
          https://www.pexels.com/es-es/foto/mujer-escritura-colegio-educacion-7092539/</span></div>
    </div>
  </article>
  <article id="prog" class="row pt-5 anchor">
    <h2 class="text-center"><a class="text-primary" data-toggle="modal" [attr.data-target]="'#program'">Programa de
        estudios</a></h2>
    <img class="img-thumbnail bi mx-auto qr-code" alt="Program QR code" src="assets/img/programQR.png">
  </article>
  <article id="contacts" class="row pt-5 anchor">
    <h2 class="text-center">Contacto</h2>
    <h4 class="text-center">5729-6000 Ext. 52032</h4>
    <div class="card-group mb-3">
      <div *ngFor="let item of responsables;let idx = index" class="card text-center">
        <div class="card-img-top img-thumbnail rounded-circle mx-auto portrait"
          [style]="'background-image: url('+item.photo+');'">
        </div>
        <div class="card-header">
          <h3 class="card-title">{{item.name}}</h3>
        </div>
        <div class="card-body">
          <h4 class="card-subtitle">{{item.mail}}</h4>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-outline-primary btn-lg btn-block" data-toggle="modal"
            [attr.data-target]="'#prof'+idx">Más acerca del docente</button>
        </div>
      </div>
    </div>
    <div *ngFor="let item of responsables;let idx = index" class="modal fade" [id]="'prof'+idx">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h2 class="modal-title w-100">{{item.name}}</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <b>Desarrollo profesional:</b><br />
            <div [innerHtml]="item.info"></div>
            <br />
            <b>Áreas de interés:</b><br />
            <div [innerHtml]="item.intereses"></div>
          </div>
        </div>
      </div>
    </div>
  </article>
  <article id="req" class="row anchor">
    <div class="col-12 col-md-6 p-0 order-2 order-md-1 img-cover d-flex align-items-end"
      style="background-image: url(assets/img/system.jpg);">
      <div class="src text-white text-wrap m-4" data-toggle="collapse" data-target="#reqCollapse" aria-expanded="false"
        aria-controls="reqCollapse"><a class="text-reset">Fuente</a><span class="collapse" id="reqCollapse">:
          https://www.pexels.com/es-es/foto/ipad-negro-al-lado-del-iphone-5c-verde-159643/</span></div>
    </div>
    <div class="col-12 col-md-6 p-4 order-1 order-md-2 bg-tertiary text-white">
      <h2>Requerimientos</h2>
      <p>
        Dispositivo móvil:
      </p>
      <ul>
        <li>Android 4.4 o superior</li>
        <li>iOS 9.0 o superior</li>
        <li>Conexión a internet</li>
      </ul>
      <div class="d-none d-md-block">
        <p>
          Equipo de cómputo:
        </p>
        <ul>
          <li>Procesador: 500 MHz o superior</li>
          <li>Memoria: 256 MB o superior</li>
          <li>Almacenamiento: 500 MB o superior</li>
          <li>Conexión a internet</li>
        </ul>
      </div>
      <p>
        Navegadores soportados:
      </p>
      <ul>
        <li>Internet Explorer 10 o superior</li>
        <li>Microsoft Edge</li>
        <li>Mozilla Firefox 38 o superior</li>
        <li>Google Chrome 45 o superior</li>
        <li>Opera 30 o superior</li>
        <li>Safari 9 o superior</li>
        <li>Android WebBrowser & WebView</li>
      </ul>
    </div>
  </article>
</section>
<section class="modal fade" id="program">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h2 class="modal-title w-100">Programa de Estudios</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class='embed-responsive' style="min-height: 70vh; max-height: 80vh;">
            <iframe title="Programa de estudios" class="embed-responsive-item" loading='lazy'
              src='assets/data/gestionEmpresarial_ISC2020.pdf'></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<main class="main-prod container">
</main>