.btn-perso {
  color: white;
  padding: 0;
}
.btn-perso:hover {
  border: solid white 0.1rem;
}

.label-no-margin {
  margin: 0;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background-color: #007bff !important;
}
