<section class="container-fluid">
  <article class="row">
    <div class="col-12 col-md-6 p-4 bg-primary text-white">
      <h2>Unidad {{id}}. {{unidad.titulo}}</h2>
      <h3 style="margin: 0;">Unidad de Competencia</h3>
      <p>
        {{unidad.competencia}}
      </p>
    </div>
    <div class="img-cover col-12 col-md-6 p-0" [style]="'background-image: url('+unidad.imagen+');'">
    </div>
  </article>
  <article class="row justify-content-center">
    <div class="col-12 col-md-3 col-xl-2 px-0 px-md-3">
      <div class="btn-group-vertical radio-button-unidad my-md-4 w-100" role="group"
        aria-label="content selection group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked
          [value]="'contenidos'" [(ngModel)]="uniSection">
        <label class="btn btn-lg btn-outline-primary label-no-margin" for="btnradio1">Contenido</label>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" [value]="'evaluacion'"
          [(ngModel)]="uniSection">
        <label class="btn btn-lg btn-outline-primary label-no-margin" for="btnradio2">Evaluación por
          unidad</label>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" [value]="'actividades'"
          [(ngModel)]="uniSection">
        <label class="btn btn-lg btn-outline-primary label-no-margin" for="btnradio3">Actividades de
          Aprendizaje</label>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off"
          [value]="'autoevaluacion'" [(ngModel)]="uniSection">
        <label class="btn btn-lg btn-outline-primary label-no-margin" for="btnradio4">Autoevaluación</label>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off" [value]="'coevaluacion'"
          [(ngModel)]="uniSection">
        <label class="btn btn-lg btn-outline-primary label-no-margin" for="btnradio5">Coevaluación</label>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off" [value]="'presentacion'"
          [(ngModel)]="uniSection">
        <label class="btn btn-lg btn-outline-primary label-no-margin" for="btnradio6">Presentación</label>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio7" autocomplete="off" [value]="'recursos'"
          [(ngModel)]="uniSection">
        <label class="btn btn-lg btn-outline-primary label-no-margin" for="btnradio7">Material adicional</label>
      </div>
    </div>
    <div class="col-12 col-md-9 col-xl-10">
      <app-unidad style="width: 100%;" *ngIf="unidad" [unidad]="unidad" [tipo]="uniSection == 'recursos' ? 1 : 0"
        [selection]="uniSection"></app-unidad>
    </div>
  </article>
</section>

<div class="modal fade" id="cuadroEval">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h2 class="modal-title">Cuadro de Evaluación</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container" *ngIf="flagCuadro">
          <img [src]='unidad.cuadroEval' alt="">
        </div>
        <div class="container" *ngIf="!flagCuadro">
          <h3 class='text-center'>Sin cuadro de evaluación disponible</h3>
        </div>
      </div>
    </div>
  </div>
</div>