<section class="container-fluid">
  <article class="row">
    <div class="col-12 col-md-6 p-4 bg-primary text-white">
      <h2>Unidad {{id}}. {{unidad.titulo}}</h2>
      <h3 style="margin: 0;">Unidad de Competencia</h3>
      <p>
        {{unidad.competencia}}
      </p>
    </div>
    <div class="col-12 col-md-6 p-0 img-cover d-flex align-items-end"
      [style]="'background-image: url('+unidad.imagen.url+');'">
      <div class="src text-white text-wrap m-4" data-toggle="collapse" data-target="#coverCollapse"
        aria-expanded="false" aria-controls="coverCollapse"><a class="text-reset">Fuente</a><span class="collapse"
          id="coverCollapse">:
          {{unidad.imagen.src}}</span></div>
    </div>
  </article>
  <article class="row justify-content-center">
    <div class="col-12 col-md-3 col-xl-2 px-0 px-md-3">
      <div class="btn-group-vertical btn-group-lg btn-group-toggle my-md-4 w-100" data-toggle="buttons">
        <label class="btn btn-outline-primary label-no-margin" for="contenidos"><input type="radio" class="btn-check"
            name="uniSection" id="contenidos" autocomplete="off" [value]="'contenidos'"
            [(ngModel)]="uniSection" />Contenido</label>
        <label class="btn btn-outline-primary label-no-margin"><input type="radio" class="btn-check" name="uniSection"
            id="evaluacion" autocomplete="off" [value]="'evaluacion'" [(ngModel)]="uniSection" />Evaluación por
          unidad</label>
        <label class="btn btn-outline-primary label-no-margin"><input type="radio" class="btn-check" name="uniSection"
            id="actividades" autocomplete="off" [value]="'actividades'" [(ngModel)]="uniSection" />Actividades de
          Aprendizaje</label>
        <label class="btn btn-outline-primary label-no-margin"><input type="radio" class="btn-check" name="uniSection"
            id="autoevaluacion" autocomplete="off" [value]="'autoevaluacion'"
            [(ngModel)]="uniSection" />Autoevaluación</label>
        <label class="btn btn-outline-primary label-no-margin"><input type="radio" class="btn-check" name="uniSection"
            id="coevaluacion" autocomplete="off" [value]="'coevaluacion'"
            [(ngModel)]="uniSection" />Coevaluación</label>
        <label class="btn btn-outline-primary label-no-margin"><input type="radio" class="btn-check" name="uniSection"
            id="presentacion" autocomplete="off" [value]="'presentacion'"
            [(ngModel)]="uniSection" />Presentación</label>
        <label class="btn btn-outline-primary label-no-margin"><input type="radio" class="btn-check" name="uniSection"
            id="recursos" autocomplete="off" [value]="'recursos'" [(ngModel)]="uniSection" />Material adicional</label>
      </div>
    </div>
    <div class="col-12 col-md-9 col-xl-10">
      <app-unidad style="width: 100%;" *ngIf="unidad" [unidad]="unidad" [tipo]="uniSection == 'recursos' ? 1 : 0"
        [selection]="uniSection"></app-unidad>
    </div>
  </article>
</section>

<div class="modal fade" id="cuadroEval">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h2 class="modal-title">Cuadro de Evaluación</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container" *ngIf="flagCuadro">
          <img [src]='unidad.cuadroEval' alt="">
        </div>
        <div class="container" *ngIf="!flagCuadro">
          <h3 class='text-center'>Sin cuadro de evaluación disponible</h3>
        </div>
      </div>
    </div>
  </div>
</div>