<header class="nav-main-header fixed-top">
  <div class="header-main">

    <!-- <div class="navs-header">
      <a *ngFor="let item of navs" [href]="item.link">{{item.title}}</a>
    </div> -->
    <nav class="navbar navbar-expand-lg navbar-light navs-header">
      <div class="logos" [routerLink]="['/']" (click)="collapse()">
        <img class="img-logo" src="assets/img/ipn.png" alt="escom">
        <img class="img-logo" src="assets/img/escom.png" alt="escom">
        <h2 class="redes-text">Gestión <p class="header-empresarial"><span>Empresarial</span></p></h2>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" (click)="collapse()" *ngIf="currentLink != '/'">
            <a class="nav-link" [routerLink]="['/']">Inicio</a>
          </li>
          <li class="nav-item dropdown" *ngIf="currentLink == '/'">
            <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Inicio
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" [routerLink]="['/']" (click)="collapse()">
              <a class="dropdown-item" *ngFor="let item of navs" (click)="goToId(item.link)">{{item.title}}</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Unidades
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" (click)="collapse()">
              <a class="dropdown-item" *ngFor="let item of unidades" [routerLink]="['unidades',item.indice]">{{item.indice}}.- {{item.titulo}}</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Recursos didácticos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" (click)="collapse()">
              <a class="dropdown-item" *ngFor="let item of unidades" [routerLink]="['recursos',item.indice]">{{item.indice}}.- {{item.titulo}}</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Autoevaluación
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" (click)="collapse()">
              <a class="dropdown-item" *ngFor="let item of unidades" [routerLink]="['evaluaciones',item.indice]">{{item.indice}}.- {{item.titulo}}</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="User" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-info-circle"></i>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" data-toggle="modal" [attr.data-target]="'#biblio'"><i class="bi bi-card-text"></i> &nbsp; Fuentes de consulta</a>
              <a class="dropdown-item" data-toggle="modal" [attr.data-target]="'#glosario'"><i class="bi bi-journal-text"></i> &nbsp; Glosario</a>
              <a class="dropdown-item" data-toggle="modal" [attr.data-target]="'#program'"><i class="bi bi-list-check"></i> &nbsp; Programa de la unidad</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav">

        </ul>
      </div>
    </nav>
  </div>
</header>
<div class="modal fade" id="biblio">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h2 class="modal-title">Fuentes de Consulta</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <ul>
            <li>Marlene, M. D. (2018, marzo). Acceso y uso de tecnologías de la información y comunicación en México: factores determinantes. <a style="color: blue;" target="_blank" href="http://www.scielo.org.mx/scielo.php?script=sci_arttext&pid=S2007-36072018000200002">Enlace.</a></li>
            <li>Alex, P. et al. (2017, mayo). Blockchain : la revolución industrial de Internet. <a style="color: blue;" target="_blank" href="https://www.academia.edu/36701339/Blockchain_La_revoluci%C3%B3n_industrial_de_internet_Alexander_Preukschat">Enlace.</a></li>
            <li>Johana, O. C. et al. (2018, abril). Desarrollo sostenible y responsabilidad social empresarial (RSE): un panorama integrador desde lo ambiental, social, tecnológico y económico. <a style="color: blue;" target="_blank" href="https://www.researchgate.net/publication/334813911_Desarrollo_sostenible_y_responsabilidad_social_empresarial_RSE_un_panorama_integrador_desde_lo_ambiental_social_tecnologico_y_economico">Enlace.</a></li>
            <li>Paulo, P. et al. (2020). Usando las megatendencias para moldear la estrategia. <a style="color: blue;" target="_blank" href="https://assets.ey.com/content/dam/ey-sites/ey-com/es_pe/topics/ey-megatendencias-julio-2020.pdf">Enlace.</a></li>
            <li>Surayne, T. L. et al. (2014, septiembre). Técnicas formales y de inteligencia artificial para la gestión de recursos humanos en proyectos informáticos. <a style="color: blue;" target="_blank" href="http://scielo.sld.cu/scielo.php?pid=S2227-18992014000300004&script=sci_arttext&tlng=en">Enlace.</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="program">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h2 class="modal-title">Programa de la Unidad de Aprendizaje</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class='embed-responsive embed-responsive-16by9' style='height: 75rem;'><object data='assets/data/programa2020.pdf' type='application/pdf'></object></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="app">
  <router-outlet></router-outlet>
</div>

<app-glosario></app-glosario>

<footer class="site-footer">
  <div class="grid-footer container">
    <div>
      <h3>Unidades</h3>
      <nav class="nav-foot">
        <a *ngFor="let item of unidades" [routerLink]="['unidades',item.indice]">{{item.indice}}.- {{item.titulo}}</a>
      </nav>
    </div>
    <div>
        <h3>Recursos didácticos</h3>
        <nav class="nav-foot">
          <a *ngFor="let item of unidades" [routerLink]="['recursos',item.indice]">{{item.indice}}.- {{item.titulo}}</a>
        </nav>
    </div>
    <div>
      <h3>Autoevaluación</h3>
      <nav class="nav-foot">
        <a *ngFor="let item of unidades" [routerLink]="['evaluaciones',item.indice]">{{item.indice}}.- {{item.titulo}}</a>
      </nav>
    </div>
  </div>
  <p class="copyright">Instituto Politécnico Nacional. Escuela Superior de Cómputo</p>
</footer>
