.app {
  margin-top: 15rem;
}

.dropdown-item {
  font-size: 1.3rem;
  cursor: pointer;
}

.navbar-nav {
  width: 40%;
  justify-content: space-between;
  margin-left: 1rem;
}

.dropdown-menu {
  border: none;
}

.nav-main-header {
  border-bottom: 3px solid;
  border-image-source: linear-gradient(to right, #637681, #037bc0);
  border-image-slice: 1;
  padding: 0;
  background-color: white;
  font-size: 1.7rem;
}

.img-logo {
  width: 12rem;
  max-width: 12rem;
}

.logos {
  display: grid;
  cursor: pointer;
  grid-template-columns: repeat(2, 3fr);
  text-align: center;
  align-items: center;
}

.escom-logos {
  display: grid;
  cursor: pointer;
  grid-template-columns: repeat(2, 3fr);
  text-align: center;
  align-items: center;
  justify-items: right;
}

.escom-logo {
  padding-bottom: 1rem;
}

.redes-text {
  margin: 0 1rem;
  font-size: 2rem;
}

.redes-text span {
  color: #037bc0;
}

.header-main a {
  align-items: center;
  display: flex;
}

.navs-header {
  padding-top: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

.navs-header a {
  margin: 0 auto;
  font-weight: 700;
}

.navbar-toggler {
  margin: 0 auto;
  padding: 0.5rem 4rem;
}

.header-empresarial {
  margin-bottom: 0px;
}

@media only screen and (max-width: 1985px) {
  .app {
    margin-top: 17rem;
  }
}

@media only screen and (max-width: 1845px) {
  .app {
    margin-top: 19rem;
  }
}

@media only screen and (max-width: 800px) {
  .navs-header {
    grid-template-columns: 1fr;
  }
  .app {
    margin-top: 28rem;
  }
}

@media only screen and (max-width: 600px) {
  .nav-main-header {
    padding: 2rem 5rem; /*Top Rigth Bottom Left */ /*TB LR*/
  }
  .logos {
    margin-right: 0rem;
  }
  .app {
    margin-top: 34rem;
  }
}
