<nav
  class="navbar navbar-expand-lg navbar-light bg-light sticky-top container-fluid nav-custom-bb justify-content-center">
  <header class="row justify-content-center" style="width: 100vw;">
    <div class="navbar-brand mr-0 col-8 col-md-5 col-lg-2 col-xl-3 order-2 order-lg-1" [routerLink]="['/']"
      (click)="collapse()">
      <div class="row justify-content-center">
        <div class="col-2 col-md-3 col-lg-6 px-0">
          <img class="mx-auto d-none d-md-block" height="96px" width="90px" src="assets/img/ipn.png" alt="ipn">
          <img class="mx-auto d-md-none d-block" height="56px" width="52px" src="assets/img/ipn.png" alt="ipn">
        </div>
        <div class="col-8 col-md-7 col-xl-6 d-lg-none d-xl-block my-auto font-weight-bold text-wrap">
          <h4 class="mb-0">Gestión</h4>
          <h4 class="mb-0 text-tertiary">Empresarial</h4>
        </div>
      </div>
    </div>
    <div class="col-2 d-lg-none my-auto order-1 order-lg-4">
      <div style="display: flex; flex-direction: column; align-items: center;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <div class="col-12 col-lg-8 col-xl-6 my-auto order-4 order-lg-2 collapse navbar-collapse justify-content-center"
      id="navbarSupportedContent">
      <ul class="navbar-nav navbar-nav-scroll text-wrap" style="font-size: large;">
        <li class="nav-item" (click)="collapse()" *ngIf="currentLink != '/'">
          <a class="nav-link font-weight-bold h4" [routerLink]="['/']">Inicio</a>
        </li>
        <li class="nav-item dropdown" *ngIf="currentLink == '/'">
          <a class="nav-link dropdown-toggle font-weight-bold h4" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inicio</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" [routerLink]="['/']" (click)="collapse()">
            <a class="dropdown-item font-weight-bold h5" *ngFor="let item of navs"
              (click)="goToId(item.link)">{{item.title}}</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle font-weight-bold h4" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Unidades</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" (click)="collapse()">
            <a class="dropdown-item font-weight-bold h5 text-truncate" style="max-width: 90vw;"
              *ngFor="let item of unidades" [routerLink]="['unidades',item.indice]">{{item.indice}}.-
              {{item.titulo}}</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle font-weight-bold h4" href="#" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            &nbsp; Más información
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" (click)="collapse()">
            <a class="dropdown-item font-weight-bold h5" data-toggle="modal" [attr.data-target]="'#biblio'"><i
                class="bi bi-card-text"></i>&nbsp; Fuentes de consulta</a>
            <a class="dropdown-item font-weight-bold h5" data-toggle="modal" [attr.data-target]="'#glosario'"><i
                class="bi bi-journal-text"></i>&nbsp; Glosario</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle font-weight-bold h4" href="#" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><i class="bi bi-globe"></i>&nbsp;Idioma
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" (click)="collapse()">
            <button role="a" value="es" class="dropdown-item font-weight-bolder h5 text-dark">Español</button>
            <button role="a" value="eng" class="dropdown-item font-weight-bold h5 disabled" disabled>English</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="navbar-brand mr-0 col-2 col-md-5 col-lg-2 col-xl-3 my-auto order-3" [routerLink]="['/']"
      (click)="collapse()">
      <div class="row justify-content-center">
        <div class="col-6 text-tertiary text-right text-nowrap font-weight-bold d-none d-md-block d-lg-none d-xl-block">
          <h4 class="mb-0">Escuela</h4>
          <h4 class="mb-0">Superior de</h4>
          <h4 class="mb-0">Cómputo</h4>
        </div>
        <div class="col-12 col-md-6 px-0">
          <img class="mx-auto d-none d-md-block" height="96px" width="126px" src="assets/img/escom.png" alt="escom">
          <img class="mx-auto d-md-none" height="56px" width="73px" src="assets/img/escom.png" alt="escom">
        </div>
      </div>
    </div>
  </header>
</nav>
<section class="modal fade" id="biblio">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h2 class="modal-title">Fuentes de Consulta</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <ul>
            <li>Marlene, M. D. (2018, marzo). Acceso y uso de tecnologías de la información y comunicación en México:
              factores determinantes. <a style="color: blue;" target="_blank"
                href="http://www.scielo.org.mx/scielo.php?script=sci_arttext&pid=S2007-36072018000200002">http://www.scielo.org.mx/scielo.php?script=sci_arttext&pid=S2007-36072018000200002</a>
            </li>
            <li>Alex, P. et al. (2017, mayo). Blockchain : la revolución industrial de Internet. <a style="color: blue;"
                target="_blank"
                href="https://www.academia.edu/36701339/Blockchain_La_revoluci%C3%B3n_industrial_de_internet_Alexander_Preukschat">https://www.academia.edu/36701339/Blockchain_La_revoluci%C3%B3n_industrial_de_internet_Alexander_Preukschat</a>
            </li>
            <li>Johana, O. C. et al. (2018, abril). Desarrollo sostenible y responsabilidad social empresarial (RSE): un
              panorama integrador desde lo ambiental, social, tecnológico y económico. <a style="color: blue;"
                target="_blank"
                href="https://www.researchgate.net/publication/334813911_Desarrollo_sostenible_y_responsabilidad_social_empresarial_RSE_un_panorama_integrador_desde_lo_ambiental_social_tecnologico_y_economico">https://www.academia.edu/36701339/Blockchain_La_revoluci%C3%B3n_industrial_de_internet_Alexander_Preukschat</a>
            </li>
            <li>Paulo, P. et al. (2020). Usando las megatendencias para moldear la estrategia. <a style="color: blue;"
                target="_blank"
                href="https://assets.ey.com/content/dam/ey-sites/ey-com/es_pe/topics/ey-megatendencias-julio-2020.pdf">https://www.academia.edu/36701339/Blockchain_La_revoluci%C3%B3n_industrial_de_internet_Alexander_Preukschat</a>
            </li>
            <li>Surayne, T. L. et al. (2014, septiembre). Técnicas formales y de inteligencia artificial para la gestión
              de recursos humanos en proyectos informáticos. <a style="color: blue;" target="_blank"
                href="http://scielo.sld.cu/scielo.php?pid=S2227-18992014000300004&script=sci_arttext&tlng=en">http://scielo.sld.cu/scielo.php?pid=S2227-18992014000300004&script=sci_arttext&tlng=en</a>
            </li>
            <li>Camilo, C. (2022). Competitividad empresarial: qué es, importancia, tipos y ejemplos. <a
                style="color: blue;" target="_blank"
                href="https://blog.hubspot.es/sales/competitividad-empresarial">https://blog.hubspot.es/sales/competitividad-empresarial</a>
            </li>
            <li>Coetzee, M. (2019). How to develop a philosophy, vision and mission for your organization. <a
                style="color: blue;" target="_blank"
                href="https://www.marcuscoetzee.com/constructing-a-philosophy-vision-and-mission-for-your-organization/">https://www.marcuscoetzee.com/constructing-a-philosophy-vision-and-mission-for-your-organization/</a>
            </li>
            <li>Murcia, M. (2019). Filosofía y Cultura ¿por qué las confundimos?. <a style="color: blue;"
                target="_blank"
                href="https://inspiracomunicaciones.com/comunicacion-organizacional/filosofia-y-cultura-organizacionales-por-que-las-confundimos/">https://inspiracomunicaciones.com/comunicacion-organizacional/filosofia-y-cultura-organizacionales-por-que-las-confundimos/</a>
            </li>
            <li>Santos, D. (2021). 3 claves para definir la filosofía de tu empresa. <a style="color: blue;"
                target="_blank"
                href="https://blog.hubspot.es/marketing/filosofia-empresas">https://blog.hubspot.es/marketing/filosofia-empresas</a>
            </li>
            <li>Jennifer, A. (2018). La cultura organizacional, la base de tu estrategia de negocios. <a
                style='color: blue;' target='_blank'
                href='https://www.altonivel.com.mx/recursos-humanos/cultura-organizacional-estrategia/'>https://www.altonivel.com.mx/recursos-humanos/cultura-organizacional-estrategia/</a>
            </li>
            <li>Kristie, L. (Recuperado en 2022). ¿Qué es la implementación estratégica? <a style='color: blue;'
                target='_blank'
                href='https://pyme.lavoztx.com/qu-es-la-implementacin-estratgica-4652.html'>https://pyme.lavoztx.com/qu-es-la-implementacin-estratgica-4652.html</a>
            </li>
            <li>Francisco, P. (2012). El Cuadro de Mando Integral (I): Qué es y para qué sirve. <a style='color: blue;'
                target='_blank'
                href='https://cmigestion.es/2012/10/23/el-cuadro-de-mando-integral-i-que-es-y-para-que-sirve/'>https://cmigestion.es/2012/10/23/el-cuadro-de-mando-integral-i-que-es-y-para-que-sirve/</a>
            </li>
            <li>Gabriel, R. (Recuperado en 2022). Herramientas para elaborar la Estrategia. <a style='color: blue;'
                target='_blank'
                href='https://gestion.pensemos.com/herramientas-para-elaborar-la-estrategia'>https://gestion.pensemos.com/herramientas-para-elaborar-la-estrategia</a>
            </li>
            <li>Vinte. (Recuperado en 2022). Business Model. <a style='color: blue;' target='_blank'
                href='https://www.vinte.com/en/modelo-negocios/'>https://www.vinte.com/en/modelo-negocios/</a></li>
            <li>Anna, P. (2021). Diamante de Porter, componentes usos y beneficios. <a style='color: blue;'
                target='_blank'
                href='https://www.obsbusiness.school/blog/diamante-de-porter-componentes-usos-y-beneficios#:~:text=%C2%BFQu%C3%A9%20es%20el%20diamante%20de,una%20empresa%2C%20sean%20realmente%20competitivos.'>https://www.obsbusiness.school/blog/diamante-de-porter-componentes-usos-y-beneficios#:~:text=%C2%BFQu%C3%A9%20es%20el%20diamante%20de,una%20empresa%2C%20sean%20realmente%20competitivos.</a>
            </li>
            <li>Douglas, d. S. (2020). ¿Cómo hacer un plan comercial en 7 pasos? <a style='color: blue;' target='_blank'
                href='https://www.zendesk.com.mx/blog/como-hacer-un-plan-comercial/'>https://www.zendesk.com.mx/blog/como-hacer-un-plan-comercial/</a>
            </li>
            <li>Conexión ESAN. (2019). El presupuesto maestro: conoce sus objetivos en una empresa. <a
                style='color: blue;' target='_blank'
                href='https://www.esan.edu.pe/conexion-esan/el-presupuesto-maestro-conoce-sus-objetivos-en-una-empresa'>https://www.esan.edu.pe/conexion-esan/el-presupuesto-maestro-conoce-sus-objetivos-en-una-empresa</a>
            </li>
            <li>Capacitación Administrativa en Línea. (Recuperado en 2022). Curso de administración de empresas. <a
                style='color: blue;' target='_blank'
                href='http://cursodeadministraciondeempresas.com/los-programas-en-la-administracion'>http://cursodeadministraciondeempresas.com/los-programas-en-la-administracion</a>
            </li>
            <li>Harold, K. et al. (2012). Administración, una perspectiva global y empresarial. Mc Graw Hill.</li>
            <li>A. Whetten David y S- Cameron kIm. (2011). Desarrollo de habilidades directivas. Prentice Hall.</li>
            <li>Alcaraz R., R. (2001). El emprendedor del éxito. Mc Graw Hill.</li>
            <li>Batista H. N. Estupiñan R. J. (2018). Gestión empresarial y posmodernidad. Bélgica Ablibitum.</li>
            <li>Chiavenato I. (2019). Introducción a la teoría general de la administración. Mc Graw Hill.</li>
            <li>Cummings T. G. Worley C. G. (2007). Desarrollo organizacional y cambio. Thompson.</li>
            <li>Daft R. L. (2013). Teoría y diseño organizacional. Thomson.</li>
            <li>Effy O. (2016). Administración de sistemas de información. Cengage Learning.</li>
            <li>Hellriegel D. Slocum J. W. Woodman R. W. (1999). Comportamiento Organizacional. Thompson.</li>
            <li>Hitt M. A. Black S. J. y Porter L. W. (2006). Administración. Pearson Educación.</li>
            <li>Laudon K.C. Laudon J. P. (2008). Sistemas de información gerencial. Pearson.</li>
            <li>Peña A. B., Batalla N. P. (2016). Dirección de comunicación y habilidades directivas. Dykinson.</li>
            <li>Pérez M.J. (1997). Estrategia, gestión y habilidades directivas. Diaz de Santos.</li>
            <li>Robbins P. S. y Coutler, M. (2005). Administración. Pearson Educación.</li>
            <li>Robbins J. (1999). Comportamiento organizacional. Prentice Hall.</li>
            <li>Robinett J. (2016). Networking estratégico. Paidos.</li>
            <li>Rodríguez V. J. (2003). Introducción a la administración con enfoque de sistemas. Thomson.</li>
            <li>Rubio D. P. (n. d.). Introducción a la gestión empresarial. Unión europea: Instituto Europeo de Gestión
              Empresarial.</li>
            <li>Osterwalder/A. (2015). Generación de Modelo de Negocio. DEUSTO.</li>
            <li>Instituto Mexicano de la Propiedad Intelectual. (2021). IMPI. IMPI.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<main role="main">
  <router-outlet></router-outlet>
</main>
<app-glosario></app-glosario>
<footer class="site-footer">
  <p class="copyright">Instituto Politécnico Nacional - Escuela Superior de Cómputo</p>
</footer>