html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
  padding: 1rem;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 3rem 0;
  font-weight: 700;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.75rem;
}
a {
  text-decoration: none;
  color: black;
  overflow-wrap: break-word;
}

p {
  max-width: 50ch;
  text-align: justify;
}

li {
  max-width: 50ch;
  text-align: justify;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

.max-width-30 {
  max-width: 30rem;
}

.img-full-cover {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 30% 70%;
}

.site-footer {
  border-top: 1px solid #e1e1e1;
  padding-top: 1rem;
  display: grid;
  justify-content: center;
}

.site-footer h3 {
  margin-bottom: 0.5rem;
}

.img-unidades:hover {
  cursor: pointer;
  width: 80rem !important;
}

.grid-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 2fr));
  gap: 2rem;
}

.nav-foot a {
  display: block;
  text-decoration: none;
}

.copyright {
  text-align: center;
  margin-top: 5rem;
}

.modal-title {
  width: 100%;
}
.modal-body {
  margin: 2rem;
}

.bi {
  font-size: 1.5rem;
}

.dropdown-item {
  color: #6c757d;
}

.diapos {
  height: 50rem;
  max-width: 100rem;
  margin: 0 auto;
}

.text-tertiary {
  color: #037bc0;
}

.bg-tertiary {
  background-color: #037bc0;
}

.img-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 767.98px) {
  .img-cover {
    height: 33vh;
  }
}
